@using NonFactors.Mvc.Grid;

@model IEnumerable<Mvc.Grid.Demo.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@Html.AjaxGrid(Url.Action("GridPartial", new { param = "value" }))


