@using NonFactors.Mvc.Grid;

@model IEnumerable<Mvc.Grid.Demo.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Genre).Titled("Genre").Sortable(true);
        columns.Add(model => model.Title).Titled("Title").Sortable(true);

        columns.Add(model => model.Year).Titled("Year").Sortable(true);
        columns.Add(model => model.Price).Titled("Price");
    })
    .Sortable()
)
